{{#helpers application}}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="robots" content="none">

    <title>Intelligent Approach - {{application}}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Esteban&family=Marcellus&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/provisions/provision.0505a6fca8cb1051eabf0900.css">
    
</head>
<body class="grid grid-areas-natural">

    <mountain class="padding-top-[1.3125rem] padding-right-[1.3125rem] padding-bottom-[1.3125rem] padding-left-[1.3125rem] background-[1.3125rem]">
        <div class="width-[70rem] margin-right-[auto] margin-left-[auto]">
            <div class="grid grid-areas-mountain gap-[1.3125rem]">
                <div class="grid-in-[abbreviations]">
                    <ul class="grid grid-cols-auto gap-[1.3125rem] auto-cols-max" style="justify-content: center">
                        <li>
                            <a class="type-[1rem]/[1]" href="/subpage">Company</a>
                        </li>
                        <li>
                            <a class="type-[1rem]/[1]" href="/subpage">Portfolio</a>
                        </li>
                        <li>
                            <a class="type-[1rem]/[1]" href="/subpage">Frequently Asked Questions</a>
                        </li>
                        <li>
                            <a class="type-[1rem]/[1]" href="/subpage">Subscribe now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </mountain>

    <leaf class="absolute top-[-1.3125rem] left-[2.625rem]">
        <img class="width-[6.5625rem] height-[12.6875rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610c8b9340aaf73485f72d60_flower_9.png" alt="{{application}}">
    </leaf>

    <main>

        <section class="padding-top-[9.1875rem] padding-right-[1.3125rem] padding-bottom-[1.3125rem] padding-left-[1.3125rem] background-[1.3125rem]">
            <div class="width-[70rem] margin-right-[auto] margin-left-[auto]">
                <div class="grid grid-areas-protagonist gap-[3.9375rem]">
                    <div class="grid-in-[protagonist]">
                        <h1 class="type-[3.1875rem]/[1.4]" style="text-align: center">Protagonist Wedding Planners<br>& Event Designers</h1>
                    </div>
                    <div class="grid-in-[pictures]">
                        <div class="grid grid-cols-auto gap-[zero] auto-cols-auto" style="justify-content: center;align-items:center">
                            <img class="width-[26.8125rem] height-[38.125rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6111b971be7bddceae1d154c_home_b2-p-500.jpeg" alt="{{application}}" style="transform: rotate(-10deg)">
                            <div class="margin-right-[-13.125rem] margin-left-[-13.125rem] layer-[1]">
                                <img class="width-[36.75rem] height-[54.375rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6111b9713dd3cba82cce3b0e_home_b1-p-800.jpeg" alt="{{application}}">
                            </div>
                            <img class="width-[26.8125rem] height-[38.125rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610b4126b00a600bfdb60d4b_home_a2-p-500.jpeg" alt="{{application}}" style="transform: rotate(10deg)">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-top-[9.1875rem] padding-right-[1.3125rem] padding-bottom-[1.3125rem] padding-left-[1.3125rem] background-[1.3125rem]">
            <div class="width-[70rem] margin-right-[auto] margin-left-[auto]">
                <div class="grid grid-areas-gist gap-[3.9375rem]">
                    <div class="grid-in-[gist]">
                        <div class="grid grid-cols-auto gap-[3.9375rem] auto-cols-fr">
                            <div>
                                <img class="width-[4.3125rem] height-[3.4375rem] margin-right-[auto] margin-left-[auto]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6113208e462ce0eb607c0c58_service_icon_1.png" alt="{{application}}">
                                <div class="margin-top-[1.3125rem]">
                                    <p class="type-[1.8125rem]/[1]" href="/" style="text-align: center">Weddings</p>
                                </div>
                                <div class="margin-top-[.9375rem]">
                                    <p class="type-[1rem]/[1.8]" style="text-align: center">Lectus sit turpis iaculis eu non sed turpis suscipit facilisi. Lorem non id aliquam. Urna adipiscing odio.</p>
                                </div>
                            </div>
                            <div>
                                <img class="width-[4.3125rem] height-[3.4375rem] margin-right-[auto] margin-left-[auto]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6113208e462ce0eb607c0c58_service_icon_1.png" alt="{{application}}">
                                <div class="margin-top-[1.3125rem]">
                                    <p class="type-[1.8125rem]/[1]" href="/" style="text-align: center">Weddings</p>
                                </div>
                                <div class="margin-top-[.9375rem]">
                                    <p class="type-[1rem]/[1.8]" style="text-align: center">Lectus sit turpis iaculis eu non sed turpis suscipit facilisi. Lorem non id aliquam. Urna adipiscing odio.</p>
                                </div>
                            </div>
                            <div>
                                <img class="width-[4.3125rem] height-[3.4375rem] margin-right-[auto] margin-left-[auto]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6113208e462ce0eb607c0c58_service_icon_1.png" alt="{{application}}">
                                <div class="margin-top-[1.3125rem]">
                                    <p class="type-[1.8125rem]/[1]" href="/" style="text-align: center">Weddings</p>
                                </div>
                                <div class="margin-top-[.9375rem]">
                                    <p class="type-[1rem]/[1.8]" style="text-align: center">Lectus sit turpis iaculis eu non sed turpis suscipit facilisi. Lorem non id aliquam. Urna adipiscing odio.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-top-[9.1875rem] padding-right-[1.3125rem] padding-bottom-[1.3125rem] padding-left-[1.3125rem] background-[1.3125rem]">
            <div class="width-[70rem] margin-right-[auto] margin-left-[auto]">
                <div class="grid grid-areas-present gap-[7.875rem]" style="align-items:center">
                    <div class="grid-in-[present]">
                        <img class="width-[3.875rem] height-[1.1875rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610b3993bc98ff5499b83f82_subtitle.png" alt="{{application}}">
                        <div class="margin-top-[1.3125rem]">
                            <p class="type-[2.375rem]/[1.4]">Weave story into<br>every thread</p>
                        </div>
                        <div class="margin-top-[.9375rem]">
                            <p class="type-[1rem]/[1.8]">Cras urna sed purus magna morbi morbi congue suspendisse. Est faucibus hendrerit donec nisi, feugiat suscipit eu, sit. Orci euismod nibh.</p>
                        </div>
                    </div>
                    <div class="grid-in-[representation]">
                        <div class="grid grid-cols-auto gap-[zero] auto-cols-auto" style="justify-content: center;align-items:center">
                            <img class="width-[16rem] height-[23.625rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6111b9713dd3cba82cce3b0e_home_b1-p-800.jpeg" alt="{{application}}" style="transform: rotate(-10deg)">
                            <div class="margin-left-[-3.9375rem] layer-[1]">
                                <img class="width-[24.3125rem] height-[30.1875rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610c80ec3798f1029502d222_img_3.jpg" alt="{{application}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-top-[9.1875rem] padding-right-[1.3125rem] padding-bottom-[1.3125rem] padding-left-[1.3125rem] background-[1.3125rem]">
            <div class="width-[110rem] margin-right-[auto] margin-left-[auto]">
                <div class="grid grid-areas-protagonist gap-[3.9375rem]">
                    <div class="grid-in-[protagonist]">
                        <img class="width-[3.875rem] height-[1.1875rem] margin-right-[auto] margin-left-[auto]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610b3993bc98ff5499b83f82_subtitle.png" alt="{{application}}">
                        <div class="margin-top-[1.3125rem]">
                            <p class="type-[2.375rem]/[1.4]" style="text-align: center">Event design to make your<br>heart skip a beat</p>
                        </div>
                    </div>
                    <div class="grid-in-[pictures]">
                        <div class="grid grid-cols-auto gap-[1.3125rem] auto-cols-fr" style="align-items:center">
                            <img class="width-[26.515625rem] height-[32.9375rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610c80ec3798f1029502d222_img_3.jpg" alt="{{application}}">
                            <img class="width-[26.515625rem] height-[39.1875rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6111b9713dd3cba82cce3b0e_home_b1-p-800.jpeg" alt="{{application}}">
                            <img class="width-[26.515625rem] height-[32.9375rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610c80ec3798f1029502d222_img_3.jpg" alt="{{application}}">
                            <img class="width-[26.515625rem] height-[39.1875rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/6111b9713dd3cba82cce3b0e_home_b1-p-800.jpeg" alt="{{application}}">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding-top-[9.1875rem] padding-right-[1.3125rem] padding-bottom-[1.3125rem] padding-left-[1.3125rem] background-[1.3125rem]">
            <div class="width-[70rem] margin-right-[auto] margin-left-[auto]">
                <div class="grid grid-areas-inquiry gap-[7.875rem]">
                    <div class="grid-in-[inquiry]">
                        <img class="width-[3.875rem] height-[1.1875rem]" src="//assets.website-files.com/6109925e44b6ab8a7601f26a/610b3993bc98ff5499b83f82_subtitle.png" alt="{{application}}">
                        <div class="margin-top-[1.3125rem]">
                            <p class="type-[1.875rem]/[1]">Frequently Asked Questions</p>
                        </div>
                        <div class="margin-top-[.9375rem]">
                            <p class="type-[1rem]/[1.8]">Cras urna sed purus magna morbi morbi congue suspendisse. Est faucibus hendrerit donec nisi, feugiat suscipit.</p>
                        </div>
                    </div>
                    <div class="grid-in-[questions]">
                        <div class="grid grid-rows-auto gap-[1.3125rem] auto-rows-auto">
                            <div>
                                <a class="type-[1.125rem]/[1.6]" href="/">Will there be any exclusive content for long-term subscribers?</a>
                                <div class="margin-top-[.9375rem]">
                                    <p class="type-[.875rem]/[1.8]">To get the most out of your membership, we recommend regularly participating in discussions, attending live sessions, completing the monthly courses, completing the money.</p>
                                </div>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1.6]" href="/">How often are real-life meetups organized?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1.6]" href="/">Can I purchase the past Online Business Club Private courses separately?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1]" href="/">How can I get the most out of my membership?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1]" href="/">Can I share my membership with others?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1]" href="/">What happens if I miss a course?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1]" href="/">How does the 7-day money-back guarantee work?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1]" href="/">How can I provide feedback or suggestions?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1]" href="/">Are there any additional fees or costs?</a>
                            </div>
                            <div>
                                <a class="type-[1.125rem]/[1.6]" href="/">Can I talk directly to Dave Nick and other members?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <cavity class="padding-[1.3125rem]">
        <div class="width-[70rem] margin-right-[auto] margin-left-[auto]"></div>
    </cavity>
    
</body>
</html>